# Ignorar archivos generados por Visual Studio
.vs/
x64/
Debug/
Release/
*.user
*.suo
*.sdf
*.opensdf
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.ipch

# Archivos específicos que no quieres rastrear
DocumentLayout.json
VSWorkspaceState.json
ProyectoEDO.vcproj
ProyectoEDO.vcproj.filters
ProyectoEDO.sln